<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="Pokedex.Webform.MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <form id="form1" runat="server" class="d-flex flex-column min-vh-100">

        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="Default.aspx">Pokedex</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="Default.aspx">Home</a>
                        </li>
                        <li class="nav-item">
                            <asp:HyperLink 
                                CssClass ="nav-link"
                                ID="linkListaPokemons"
                                Text="Lista Pokemons"
                                NavigateUrl="~/PokemonsLista.aspx"
                                Visible="false"
                                runat="server" />
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="Contact.aspx">Contactanos</a>
                        </li>

                        <li class="nav-item">
                            <asp:HyperLink 
                                CssClass="nav-link"
                                ID="linkFavoritos"
                                NavigateUrl="~/Favoritos.aspx"
                                Text="Favoritos"
                                Visible="false"
                                runat="server" />
                        </li>

                        <li class="nav-item">
                            <asp:HyperLink CssClass="nav-link"
                                ID="linkPerfil"
                                runat="server"
                                NavigateUrl="~/MiPerfil.aspx"
                                Text="Mi Perfil"
                                Visible="false">
                            </asp:HyperLink>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item btn btn-outline-success m-1">
                        <asp:HyperLink 
                            NavigateUrl="~/Login.aspx"
                            runat="server"
                            ID="linkLogin"
                            Text="Login"
                            Visible="true"
                            CssClass="nav-link"/>
                        <asp:Button Text="Salir" runat="server" Visible="false" ID="btnSalir" OnClick="btnSalir_Click" CssClass="nav-link"/>
                    </li>
                    <li class="nav-item btn btn btn-outline-primary m-1" runat="server" ID="controlHTML">
                        <asp:HyperLink 
                            NavigateUrl="~/Registro.aspx" 
                            runat="server"
                            ID="linkRegistro"
                            Text="Registrarse"
                            Visible="true"
                            CssClass="nav-link"/>
                    </li>
                    <li class="nav-item d-flex align-items-center m-1">
                        
                        <asp:Image 
                            Cssclass="rounded-circle"
                            ID="imgAvatar"
                            runat="server" 
                            Visible="false"
                            Width="35px"
                            Height="35px"
                            
                            />

                        <a class="nav-link" href="MiPerfil.aspx"></a>
                    </li>
                </ul>
            </div>
        </nav>






        <div class="container">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>

        <footer class="mt-auto">
            <hr />
            <p>Hola, soy el footer</p>
        </footer>
    </form>
</body>
</html>
